body {
    margin: 0;          /*Overrides default*/
    padding: 0;
    position: relative;
    background-color: #363537;
    font-family: 'Nunito';
    box-sizing: border-box;
    display: block;
}


/*navbar*/
.navbar {
    top: 0px;
    padding-top: 15px;
    background-color: #363537;
    position: sticky;
    color: #E0E2DB;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.navbar a {
    color: #E0E2DB;
    display: relative;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

/*Quote*/
.quote {
    font-style: italic;
    color: #E0E2DB;
    text-align: center;
    font-size: 30px;
}



/*About*/

/*Picture*/

.piccon {
    position: relative;
    display: block;
    margin-top: 500px;
    width: 100%;
    height: 900px;
}

.piccir {
    display: inherit;
    background-color: #004D66;
    border-radius: 500px;
    text-align: center;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: inherit;
    animation-name: open;
    animation-duration: 1.5s;
}

.piccon img{
    display: inherit;
    position: relative;
    max-width: 300px;
    max-height: 300px;
    border-radius: 500px;
    animation-fill-mode: both;
    animation-name: open;
    animation-delay: .1s;
    animation-duration: 1.5s;
}

/*text*/
.about p{
    display: block;
    position: relative;
    margin: 0px, auto;
    color: #E0E2DB;
    text-align: center;
    bottom: 200px
}

/*footer*/
.foot {
    background-color: #29272b;
    position: absolute;
    display: block;
    width: 100%;
    margin-bottom: 0;
}
.foot p {
    color:#E0E2DB;
    font-size: 12px;
    text-align: center;
}

/*Live projects*/



/*Animations*/

/*Picture*/

@keyframes open {
    0%{
        transform: scale(0,0);
    }
    50%{
        transform: scale(1.1, 1.1);
    }
    100%{
        width: 400px;
        height: 400px;
    }
}

@keyframes openimg {
    0%{
        transform: scale(0,0);
    }
    50%{
        transform: scale(1.1, 1.1);
    }
    100%{
        opacity: 1;
        width: 300px;
        height: 300px;
    }
}